.orange{
    background-color: orangered;
    height: 120px;
    width: 120px;
}
.orange p{
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    padding-top: 65px;
    margin-left: 10px;
}

.text_orange{
    font-size: 12px;
    text-align: right;
}
.text_orange span{
    color: orangered;
}
.migratiemandaat h2{
    margin-top: 50px;
    color: orangered;
}
.migratiemandaat h4{
    color: orangered;
}
.form-check-label .default{
    font-size: 14px;
}
.topper{
    margin-top: 40px;
}
.klant{
    font-size: 10px;
}
